# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# MMG1344H
*.docx
*.ipynb
*.py
*.r
*.rtf
*.Rhistory
*notes.txt
Submission/
